ClienteAuthTest/Connected Services/WSAUTENTICACION/AuthService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50339/AuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSAutenticacion" />
  <xs:import schemaLocation="http://localhost:50339/AuthService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioCifrado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasennaCifrada" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSAutenticacion" minOccurs="0" name="LoginResult" nillable="true" type="q1:AuthResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="nuevoUsuario" nillable="true" type="q2:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WSAutenticacion" minOccurs="0" name="RegistrarUsuarioResult" nillable="true" type="q3:AuthResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>