ClienteAuthTest/Connected Services/WSAUTENTICACION/AuthService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSAutenticacion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSAutenticacion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resultado" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthResponse" nillable="true" type="tns:AuthResponse" />
</xs:schema>